<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Login</title>
   <link rel="stylesheet" href="../static/css/login.css">
</head>

<body>
   <section>
      <nav class="navbar">
         <div class="logo">
            <a href="#">
               <img src="../static/images/logo.svg" alt="Logo">
            </a>
         </div>
         <div class="nav-links">
            <ul>
               <li><a href="#">Login</a></li>
               <li><a href="#">Register</a></li>
            </ul>
         </div>
      </nav>
      <div class="login-box">

         <form action="/login" method="POST">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
               {% for message in messages %}
               {{ message }}
               {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            <h2>Login</h2>
            <div class="input-box">
               <span class="icon"><ion-icon name="mail"></ion-icon></span>
               <input type="email" name="email" required>
               <label>Email</label>
            </div>
            <div class="input-box">
               <span class="icon"><ion-icon name="briefcase"></ion-icon></span>
               <select name="role" required>
                  <option value="" disabled selected>Choose Role</option>
                  <option value="Admin">Admin</option>
                  <option value="Sponsor">Sponsor</option>
                  <option value="Influencer">Influencer</option>
               </select>

            </div>
            <div class="input-box">
               <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
               <input type="password" name="password" required>
               <label>Password</label>
            </div>
            <div class="remember-forgot">
               <label><input type="checkbox">Remember Me</label>
               <a href="#"><a href="{{ url_for('forgot') }}">Forgot Password?</a></a>
            </div>
            <button>Login</button>
            <div class="register-link">
               <p>Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
            </div>
         </form>
      </div>
   </section>
   <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
   <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>

</html>